#carre {
    width: 50px;
    height: 50px;
    background-color: greenyellow;
}





#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style pour les boutons */
#button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
}

/* Style pour chaque bouton */
#top, #bottom, #left, #right {
    position: absolute;



    border-radius: 5%;
}

#top {
    top: 0.50%;
    left: 5%;
    transform: translateX(-5%);
}

#bottom {
    bottom: 90%;
    left: 6.5%;
    transform: translateX(-50%);
}

#left {
    top: 5%;
    left: 0;
    transform: translateY(-50%);
}

#right {
    top: 3.5%;
    right: 88%   ;
    transform: translateY(50%);
}